7BbN5CB2dQDi3Hlt_N8n_Test_AI_Generated_1759905789661.json
{
  "createdAt": "2025-10-08T06:43:09.695Z",
  "updatedAt": "2025-10-08T06:55:52.000Z",
  "id": "7BbN5CB2dQDi3Hlt",
  "name": "N8n_Test_AI_Generated_1759905789661",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const workflow = $('Code1').first().json.workflow;\nconst fileName = $input.first().json.file_set;\n\n// Recursive cleaner\nfunction deepClean(obj) {\n  if (typeof obj !== 'object' || obj === null) return obj;\n\n  for (const key in obj) {\n    // Remove auth/secret related keys\n    if (\n      key.toLowerCase().includes('credential') ||\n      key.toLowerCase().includes('token') ||\n      key.toLowerCase().includes('key') ||\n      key.toLowerCase().includes('secret') ||\n      key.toLowerCase().includes('auth') ||\n      key.toLowerCase().includes('password') ||\n      key.toLowerCase().includes('header')\n    ) {\n      delete obj[key];\n    } else if (typeof obj[key] === 'object') {\n      obj[key] = deepClean(obj[key]);\n    }\n  }\n  return obj;\n}\n\nconst cleanWorkflow = deepClean(JSON.parse(JSON.stringify(workflow)));\n\nreturn {\n  json: {\n    file_name: fileName,\n    workflow: cleanWorkflow\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        -64
      ],
      "id": "3e9e3f0e-e917-454e-a6e7-518b75c5a0c6",
      "name": "Code3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isCommon }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "65fba2fd-1100-4637-8bc1-d6a0d2ab5dd8"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "05a60a19-8625-4764-869c-3dc9f8f47488",
                    "leftValue": "={{ $json.isCommon }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "edd35a46-9bd5-46a9-95f6-2301848d104d",
                    "leftValue": "{{ $json.isCommon }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1760,
        80
      ],
      "id": "d9cbb5f7-f481-4fe8-911d-fb853ded687b",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const file_name = $('Code1').first().json.file_name || '';  \nconst workflowId_new = file_name.split(\"_\")[0];  \nconst file_set = $('Code1').first().json.file_name || '';\n\n// check if ANY workflow matches\nconst isCommon = $input.all().some(item => {\n  const fileName = item.json.name;   // or item.json.content.name if nested\n  const workflowId = fileName.split(\"_\")[0];\n  return workflowId === workflowId_new;\n});\n\nreturn [{ isCommon,file_set }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1968,
        96
      ],
      "id": "e8fa1fbb-c77d-4282-b715-1c56e98c468b",
      "name": "Code2"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "sanjay-e2m",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "My_n8n_workflows",
          "mode": "list",
          "cachedResultName": "My_n8n_workflows",
          "cachedResultUrl": "https://github.com/sanjay-e2m/My_n8n_workflows"
        },
        "filePath": "/",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -2176,
        96
      ],
      "id": "3db50943-35e0-4588-bd91-0716115b93d8",
      "name": "Get a file",
      "webhookId": "f2000f07-3d6e-44b4-b1a4-4a3e6579689d"
    },
    {
      "parameters": {
        "jsCode": "// Handle both cases: array or object with array inside\nlet workflows = $json;\n\n// If the data is wrapped inside { data: [...] } or similar\nif (!Array.isArray(workflows) && Array.isArray(workflows.data)) {\n  workflows = workflows.data;\n}\n\n// If it's still not an array, wrap it\nif (!Array.isArray(workflows)) {\n  workflows = [workflows];\n}\n\nreturn workflows.map(wf => {\n  return {\n    json: {\n      workflow: wf,\n      file_name: `${wf.id}_${wf.name}.json`\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2384,
        96
      ],
      "id": "14a2f0ca-11c4-4c5f-bca6-a044129fb35c",
      "name": "Code1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        -880,
        96
      ],
      "id": "ed2d4524-9327-4d7a-a89b-fce26f617ff6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2640,
        80
      ],
      "id": "89129153-ed79-4f57-a83d-817d008c28f8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const workflow = $('Code1').first().json.workflow;\nconst fileName = $input.first().json.content.name;\n\n// Recursive cleaner\nfunction deepClean(obj) {\n  if (typeof obj !== 'object' || obj === null) return obj;\n\n  for (const key in obj) {\n    // Remove auth/secret related keys\n    if (\n      key.toLowerCase().includes('credential') ||\n      key.toLowerCase().includes('token') ||\n      key.toLowerCase().includes('key') ||\n      key.toLowerCase().includes('secret') ||\n      key.toLowerCase().includes('auth') ||\n      key.toLowerCase().includes('password') ||\n      key.toLowerCase().includes('header')\n    ) {\n      delete obj[key];\n    } else if (typeof obj[key] === 'object') {\n      obj[key] = deepClean(obj[key]);\n    }\n  }\n  return obj;\n}\n\nconst cleanWorkflow = deepClean(JSON.parse(JSON.stringify(workflow)));\n\nreturn {\n  json: {\n    file_name: fileName,\n    workflow: cleanWorkflow\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        96
      ],
      "id": "519485e6-1adb-439a-9f23-71b446d8ae7c",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "=sanjay-e2m",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "=My_n8n_workflows",
          "mode": "name"
        },
        "filePath": "={{ $json.file_name }}",
        "fileContent": "={{ JSON.stringify($json.workflow, null, 2) }}",
        "commitMessage": "=File Modify at {{ new Date().toISOString() }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1088,
        96
      ],
      "id": "89737b96-3624-4d02-a060-86b9d2064c4b",
      "name": "Edit a file",
      "webhookId": "56f4f5a5-f1d0-4291-a875-f204f4e136cd"
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.n8n_id }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -2880,
        80
      ],
      "id": "aeaa56e1-7375-4ca1-8310-d7777e3bf85f",
      "name": "Get a workflow"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "=sanjay-e2m",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "=My_n8n_workflows",
          "mode": "name"
        },
        "filePath": "={{ $json.file_set }}",
        "fileContent": "File Created for my content",
        "commitMessage": "= File Created at {{ new Date().toISOString() }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1520,
        96
      ],
      "id": "ad9a8e84-f1d4-4f9c-aa00-8fe0e3bfff11",
      "name": "Create a file",
      "webhookId": "edcd093f-7e2e-45ed-9855-29d49a9147cb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6be8c184-8fb7-47a9-ad42-d0dc3db1eea4",
              "name": "name",
              "type": "string",
              "value": "={{ $json.name }}"
            },
            {
              "id": "n8n-id",
              "name": "n8n_id",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "n8n-updated",
              "name": "n8n_updated",
              "type": "string",
              "value": "={{ $json.updatedAt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b392b433-c248-40cd-884d-e03151fb2322",
      "name": "Prepare n8n workflow data",
      "type": "n8n-nodes-base.set",
      "position": [
        -3088,
        80
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "4da840e7-5f2b-450d-a962-707a09961110",
      "name": "n8n - get all workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -3312,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "sanjay-e2m"
            },
            {
              "name": "repo.name",
              "value": "My_n8n_workflows"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "a035c9d6-8447-41b2-9402-adfddc6f432e",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        -3536,
        80
      ],
      "typeVersion": 1
    },
    {
      "id": "webhook_1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3792,
        80
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-workflow-test-1759905789618"
      }
    },
    {
      "id": "set_1",
      "name": "Set Sample Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -3542,
        80
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "exampleField",
              "value": "example value"
            },
            {
              "name": "source",
              "value": "webhook-test"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Code3": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit a file": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare n8n workflow data": {
      "main": [
        [
          {
            "node": "Get a workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n - get all workflows": {
      "main": [
        [
          {
            "node": "Prepare n8n workflow data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "n8n - get all workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Set Sample Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Sample Data": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "America/New_York",
    "executionOrder": "v1"
  },
  "staticData": {},
  "meta": null,
  "pinData": null,
  "versionId": "8e8bf5c6-6cd1-43cc-b730-25c853e18dc3",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-10-08T06:43:09.699Z",
      "updatedAt": "2025-10-08T06:43:09.699Z",
      "role": "workflow:owner",
      "workflowId": "7BbN5CB2dQDi3Hlt",
      "projectId": "nSUbNPn8P23MJaxQ",
      "project": {
        "createdAt": "2025-08-19T13:24:42.941Z",
        "updatedAt": "2025-08-19T13:25:25.513Z",
        "id": "nSUbNPn8P23MJaxQ",
        "name": "Sanjay Makwana <sanjay.makwana@e2m.solutions>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-08-19T13:24:42.957Z",
            "updatedAt": "2025-08-19T13:24:42.957Z",
            "userId": "bec985b6-4c5b-4f76-a28c-588449d2617c",
            "projectId": "nSUbNPn8P23MJaxQ",
            "user": {
              "createdAt": "2025-08-19T13:24:42.285Z",
              "updatedAt": "2025-10-08T04:11:33.000Z",
              "id": "bec985b6-4c5b-4f76-a28c-588449d2617c",
              "email": "sanjay.makwana@e2m.solutions",
              "firstName": "Sanjay",
              "lastName": "Makwana",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-19T13:25:56.618Z",
                "personalization_survey_n8n_version": "1.107.3",
                "automationGoalDevops": [
                  "ticketing-systems-integrations",
                  "data-syncing"
                ],
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "9HG8S6sJBTFvXXIZ",
                "userActivatedAt": 1755781899419,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1756103555035
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-08",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}