workflows/aWExaINqYqsj3KU8_My workflow 3.json
{
  "createdAt": "2025-08-28T12:11:44.885Z",
  "updatedAt": "2025-08-29T12:27:26.000Z",
  "id": "aWExaINqYqsj3KU8",
  "name": "My workflow 3",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "prompt",
              "stringValue": "\"\"\"PROMPT: The above is a n8n workflow json, please create workflow documentation for the user:. you are the master of brevity, be as concise and brief as possible, output generated documentation only.      ## Guidelines for the documentation  - **Provide a detailed description**: Provide a concise and informative description outlining the template's functionality and expected outcomes. Include a brief setup guide for user convenience. A detailed description not only clarifies the template's purpose but also enhances its discoverability through SEO. It’s advised to use these sections in your description:     - Who is this for?     - What problem is this workflow solving? / use case     - What this workflow does     - Setup     - How to customize this workflow to your needs   Here is an example  ``` # Who is this template for?  This workflow template is designed for **Sales** and **Customer Success** professionals seeking alerts when potential high-value users, prospects, or existing customers register for a Discourse community. Leveraging Clearbit, it retrieves enriched data for the new member to assess their value.  ### Example result in Slack  ![Screenshot 20240221 at 13.51.29.png](https://n8niostorageaccount.blob.core.windows.net/n8nio-strapi-blobs-prod/assets/Screenshot_2024_02_21_at_13_51_29_030961dc1b.png)  # How it works  - Each time a new member is created in Discourse, the workflow runs (powered by Discourse's native Webhooks feature). - After filtering out popular private email accounts, we run the member's email through Clearbit to fetch available information on the member as well as their organization. - If the enriched data meets certain criteria, we send a Slack message to a channel. This message has a few quick actions: `Open LinkedIn profile` and `Email member`  # Set up instructions  Overview is below. Watch this [🎥 quick set up video](https://www.loom.com/share/d379895004374ddc85dc9171ca37c139?sid=bb28df29-bc91-4d32-a657-0bfbaaf50cc7) for detailed instructions on how to get the template running, as well as how to customize it.  1. Complete the `Set up credentials` step when you first open the workflow. You'll need a Discourse (admin user), Clearbit, and Slack account. 2. Set up the Webhook in Discourse, linking the `On new Discourse user` Trigger with your Discourse community. 3. Set the correct channel to send to in the `Post message in channel` step 4. After testing your workflow, swap the Test URL to Production URL in Discourse and activate your workflow  Template was created in n8n `v1.29.1`  ``` \"\"\""
            }
          ]
        },
        "options": {}
      },
      "id": "5550e071-da14-444f-9a0c-b8bb4f931c43",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        32,
        -80
      ],
      "typeVersion": 3.2,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "chat",
        "chatModel": "gpt-4-1106-preview",
        "prompt": {
          "messages": [
            {
              "content": "={{ $json.input }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "id": "42f834ce-d70e-460b-9c6e-c92bf1f1a03d",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "position": [
        448,
        -80
      ],
      "typeVersion": 1.1,
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>Markdown to HTML</title>\n    <style>\n      main {\n        font-family: Arial, sans-serif;\n        margin: 0;\n        display: flex;\n        justify-content: center;\n        height: 100vh;\n        background-color: #f5f5f5;\n        font-size: 24px;\n      }\n\n      .content-container {\n        text-align: center;\n        border: 1px solid #ddd;\n        border-radius: 8px;\n        padding: 20px;\n        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);\n        background-color: #fff;\n        max-width: 600px;\n        width: 100%;\n        margin: 20px;\n      }\n\n      #markdown-content {\n        text-align: left;\n        margin-top: 20px;\n      }\n    </style>\n  </head>\n  <body>\n    <main>\n      <div class=\"content-container\">\n        <div id=\"markdown-content\"> {{ $json.message.content?.replace(/\\n/g,'<br/>') }}</div>\n      </div>\n    </main>\n  </body>\n</html>\n",
        "options": {
          "responseCode": 200
        }
      },
      "id": "bdc115aa-e028-42d5-be21-33a9033fe7d3",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        672,
        -80
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "path": "c61492e5-73ce-40d4-b758-d5f09da0fb6c",
        "formTitle": "Workflow Documenter",
        "formDescription": "Automatically document your n8n workflow",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Workflow Title",
              "requiredField": true
            },
            {
              "fieldLabel": "Workflow Json",
              "requiredField": true
            }
          ]
        },
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "09ef9326-d9be-40c8-86b3-14dac177486f",
      "name": "n8n Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -192,
        -80
      ],
      "webhookId": "c61492e5-73ce-40d4-b758-d5f09da0fb6c",
      "typeVersion": 2,
      "disabled": true
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "input",
              "stringValue": "=Workflow Title:  {{ $json['Workflow Title'] }}\n\nWofklow JSON: ```{{ $json['Workflow Json'] }}```\n\n{{ $json.prompt }}  "
            }
          ]
        },
        "options": {}
      },
      "id": "4f431989-9a27-40fd-b774-3341a5d529bf",
      "name": "Create input to open ai",
      "type": "n8n-nodes-base.set",
      "position": [
        240,
        -80
      ],
      "typeVersion": 3.2,
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.data.location }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        176
      ],
      "id": "6b5b6674-c2fe-4dd3-9bef-c68adefb657f",
      "name": "Download Documents"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.givemepdf.com/api/v1/pdf/create",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "=<!DOCTYPE html> <html lang=\"en\"> <head>     <meta charset=\"UTF-8\">     <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">     <title>Professional Document Generator</title>     <script src=\"https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js\"></script>     <style>         :root {             --primary: #2c3e50;             --secondary: #3498db;             --accent: #e74c3c;             --light: #ecf0f1;             --dark: #34495e;             --success: #2ecc71;         }                  * {             box-sizing: border-box;             margin: 0;             padding: 0;         }                  body {             font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;             line-height: 1.6;             background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);             color: #333;             padding: 20px;             min-height: 100vh;         }                  .container {             max-width: 1200px;             margin: 0 auto;         }                  header {             text-align: center;             margin-bottom: 30px;             padding: 20px;             background: white;             border-radius: 10px;             box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);         }                  h1 {             color: var(--primary);             margin-bottom: 10px;         }                  .subtitle {             color: var(--dark);             font-size: 1.2rem;         }                  .main-content {             display: grid;             grid-template-columns: 1fr 1fr;             gap: 30px;         }                  @media (max-width: 900px) {             .main-content {                 grid-template-columns: 1fr;             }         }                  .controls {             background: white;             padding: 25px;             border-radius: 10px;             box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);         }                  .preview {             background: white;             padding: 25px;             border-radius: 10px;             box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);             display: flex;             flex-direction: column;         }                  .control-group {             margin-bottom: 20px;         }                  h2 {             color: var(--primary);             margin-bottom: 15px;             padding-bottom: 10px;             border-bottom: 2px solid var(--light);         }                  h3 {             color: var(--secondary);             margin: 15px 0 10px;         }                  label {             display: block;             margin-bottom: 8px;             font-weight: 600;             color: var(--dark);         }                  input, select, textarea {             width: 100%;             padding: 12px;             border: 1px solid #ddd;             border-radius: 5px;             font-size: 16px;             margin-bottom: 10px;         }                  input[type=\"color\"] {             height: 45px;         }                  .button-group {             display: flex;             gap: 10px;             margin-top: 20px;         }                  button {             padding: 12px 20px;             border: none;             border-radius: 5px;             cursor: pointer;             font-size: 16px;             font-weight: 600;             transition: all 0.3s ease;         }                  .btn-primary {             background: var(--secondary);             color: white;         }                  .btn-primary:hover {             background: #2980b9;         }                  .btn-secondary {             background: var(--accent);             color: white;         }                  .btn-secondary:hover {             background: #c0392b;         }                  .btn-success {             background: var(--success);             color: white;         }                  .btn-success:hover {             background: #27ae60;         }                  .document {             padding: 30px;             border: 1px solid #ddd;             border-radius: 5px;             flex-grow: 1;             background: white;         }                  .document-header {             text-align: center;             margin-bottom: 30px;             padding-bottom: 20px;             border-bottom: 2px solid var(--light);         }                  .document-title {             color: var(--primary);             margin-bottom: 10px;         }                  .document-subtitle {             color: var(--dark);             font-style: italic;         }                  .document-table {             width: 100%;             border-collapse: collapse;             margin: 20px 0;         }                  .document-table th, .document-table td {             padding: 12px 15px;             text-align: left;             border-bottom: 1px solid #ddd;         }                  .document-table th {             background-color: var(--primary);             color: white;         }                  .document-table tr:nth-child(even) {             background-color: #f9f9f9;         }                  .footer {             text-align: center;             margin-top: 30px;             padding: 20px;             color: var(--dark);         }                  .instructions {             background: white;             padding: 25px;             border-radius: 10px;             box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);             margin-top: 30px;         }                  .code-block {             background: #2d3a4b;             color: #f8f8f2;             padding: 15px;             border-radius: 5px;             overflow-x: auto;             margin: 15px 0;             font-family: 'Fira Code', monospace;         }                  .color-box {             display: inline-block;             width: 20px;             height: 20px;             vertical-align: middle;             margin-right: 5px;             border: 1px solid #ddd;         }     </style> </head> <body>     <div class=\"container\">         <header>             <h1>Professional Document Generator</h1>             <p class=\"subtitle\">Create custom documents with styled headers, tables, and backgrounds</p>         </header>                  <div class=\"main-content\">             <div class=\"controls\">                 <h2>Document Customization</h2>                                  <div class=\"control-group\">                     <h3>Header Settings</h3>                     <label for=\"title\">Document Title</label>                     <input type=\"text\" id=\"title\" value=\"Quarterly Financial Report\">                                          <label for=\"subtitle\">Document Subtitle</label>                     <input type=\"text\" id=\"subtitle\" value=\"Q2 2023 Performance Analysis\">                                          <label for=\"headerColor\">Header Color</label>                     <input type=\"color\" id=\"headerColor\" value=\"#2c3e50\">                                          <label for=\"headerBgColor\">Header Background</label>                     <input type=\"color\" id=\"headerBgColor\" value=\"#ecf0f1\">                 </div>                                  <div class=\"control-group\">                     <h3>Table Settings</h3>                     <label for=\"tableHeaderColor\">Table Header Color</label>                     <input type=\"color\" id=\"tableHeaderColor\" value=\"#ffffff\">                                          <label for=\"tableHeaderBg\">Table Header Background</label>                     <input type=\"color\" id=\"tableHeaderBg\" value=\"#3498db\">                                          <label for=\"evenRowColor\">Even Row Background</label>                     <input type=\"color\" id=\"evenRowColor\" value=\"#f9f9f9\">                 </div>                                  <div class=\"control-group\">                     <h3>Content Settings</h3>                     <label for=\"bodyText\">Body Text</label>                     <textarea id=\"bodyText\" rows=\"4\">Our company has shown strong performance in Q2 2023, with significant growth in all key metrics. We anticipate continued growth through the second half of the year.</textarea>                                          <label for=\"conclusion\">Conclusion Text</label>                     <textarea id=\"conclusion\" rows=\"4\">Based on the current trajectory, we are confident in exceeding our annual targets and expanding our market share.</textarea>                 </div>                                  <div class=\"button-group\">                     <button class=\"btn-primary\" id=\"applyStyles\">Apply Styles</button>                     <button class=\"btn-secondary\" id=\"resetStyles\">Reset</button>                     <button class=\"btn-success\" id=\"downloadPdf\">Download as PDF</button>                 </div>             </div>                          <div class=\"preview\">                 <h2>Document Preview</h2>                 <div class=\"document\" id=\"documentPreview\">                     <div class=\"document-header\" id=\"previewHeader\">                         <h1 class=\"document-title\" id=\"previewTitle\">Quarterly Financial Report</h1>                         <p class=\"document-subtitle\" id=\"previewSubtitle\">Q2 2023 Performance Analysis</p>                     </div>                                          <p id=\"previewBodyText\">Our company has shown strong performance in Q2 2023, with significant growth in all key metrics. We anticipate continued growth through the second half of the year.</p>                                          <table class=\"document-table\" id=\"previewTable\">                         <thead>                             <tr>                                 <th>Metric</th>                                 <th>Q1 2023</th>                                 <th>Q2 2023</th>                                 <th>Growth</th>                             </tr>                         </thead>                         <tbody>                             <tr>                                 <td>Revenue</td>                                 <td>$250,000</td>                                 <td>$300,000</td>                                 <td>20%</td>                             </tr>                             <tr>                                 <td>Profit</td>                                 <td>$70,000</td>                                 <td>$100,000</td>                                 <td>43%</td>                             </tr>                             <tr>                                 <td>New Customers</td>                                 <td>150</td>                                 <td>210</td>                                 <td>40%</td>                             </tr>                             <tr>                                 <td>Operating Margin</td>                                 <td>28%</td>                                 <td>33%</td>                                 <td>5%</td>                             </tr>                         </tbody>                     </table>                                          <h3>Conclusion</h3>                     <p id=\"previewConclusion\">Based on the current trajectory, we are confident in exceeding our annual targets and expanding our market share.</p>                 </div>             </div>         </div>                  <div class=\"instructions\">             <h2>How to Implement PDF Generation in n8n</h2>             <p>While n8n doesn't have a built-in PDF node, you can generate PDFs using external services or libraries. Here's how:</p>                          <h3>Option 1: Using an External API</h3>             <div class=\"code-block\"> // Example: Using the HTML2PDF API in n8n // 1. Use the HTTP Request node to call the API // 2. Set method to POST // 3. Endpoint: https://api.html2pdf.app/v1/generate // 4. Add headers: Content-Type: application/json // 5. Add body parameters: {   \"html\": \"{{$json.htmlContent}}\",   \"apiKey\": \"your-api-key-here\" }             </div>                          <h3>Option 2: Using a Custom Function Node</h3>             <div class=\"code-block\"> // Install pdfkit in your n8n environment const PDFDocument = require('pdfkit'); const fs = require('fs'); // Create a new PDF document const doc = new PDFDocument(); // Set up the response doc.pipe(fs.createWriteStream('document.pdf')); // Add content to the PDF doc.fontSize(25).text('Your Document Title', 100, 100); doc.fontSize(16).text('Your document content goes here...', 100, 150); // Finalize the PDF doc.end();             </div>                          <h3>Option 3: Using a Third-Party Service</h3>             <p>Services like DocRaptor, PDFlayer, or ConvertAPI provide PDF generation APIs that can be integrated with n8n using the HTTP Request node.</p>         </div>                  <div class=\"footer\">             <p>This is a demo for educational purposes. Actual n8n implementation may vary based on your specific needs.</p>         </div>     </div>     </body> </html>"
            },
            {
              "name": "document_name",
              "value": "Client_Report.pdf"
            },
            {
              "name": "orientation",
              "value": "portrait"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        176
      ],
      "id": "a14d55bf-ed06-4741-a2d6-17645463729c",
      "name": "Formatted Document"
    }
  ],
  "connections": {
    "OpenAI": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create input to open ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Form Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create input to open ai": {
      "main": [
        []
      ]
    },
    "Formatted Document": {
      "main": [
        [
          {
            "node": "Download Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "092f5bd6-288a-4a36-b254-9c31744187e1",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-28T12:11:44.885Z",
      "updatedAt": "2025-08-28T12:11:44.885Z",
      "role": "workflow:owner",
      "workflowId": "aWExaINqYqsj3KU8",
      "projectId": "nSUbNPn8P23MJaxQ",
      "project": {
        "createdAt": "2025-08-19T13:24:42.941Z",
        "updatedAt": "2025-08-19T13:25:25.513Z",
        "id": "nSUbNPn8P23MJaxQ",
        "name": "Sanjay Makwana <sanjay.makwana@e2m.solutions>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-08-19T13:24:42.957Z",
            "updatedAt": "2025-08-19T13:24:42.957Z",
            "role": "project:personalOwner",
            "userId": "bec985b6-4c5b-4f76-a28c-588449d2617c",
            "projectId": "nSUbNPn8P23MJaxQ",
            "user": {
              "createdAt": "2025-08-19T13:24:42.285Z",
              "updatedAt": "2025-09-04T04:38:19.000Z",
              "id": "bec985b6-4c5b-4f76-a28c-588449d2617c",
              "email": "sanjay.makwana@e2m.solutions",
              "firstName": "Sanjay",
              "lastName": "Makwana",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-19T13:25:56.618Z",
                "personalization_survey_n8n_version": "1.107.3",
                "automationGoalDevops": [
                  "ticketing-systems-integrations",
                  "data-syncing"
                ],
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "9HG8S6sJBTFvXXIZ",
                "userActivatedAt": 1755781899419,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1756103555035
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-09-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}